<style>
    nav {
        background-color: black;
        padding: 25px;
        display: flex;
        justify-content: space-between;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin-right: 15px; /* Ajusta el valor según tus preferencias para separar los enlaces */
    }

    nav a:last-child {
        margin-right: 0;
        margin-left: auto;
    }
</style>

<nav>
    <a href="/trip/social">HOME</a>
    <a href="/user">PROFILE</a>
    <a href="/auth/logout">LogOut</a>
</nav>