<style>
    nav {
        background-color: rgb(59, 59, 59);
        padding: 25px;
        display: flex;
        height: 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin-right: 40px;
    }

    nav a:last-child {
        margin-right: 0;
        margin-left: auto;
    }
</style>

<nav>
    <a href="/trip/social">HOME</a>
    <a href="/user">PROFILE</a>
    <a href="/auth/logout">LogOut</a>
</nav>