<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <script
        src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
        href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css'
        type='text/css' />

    <style>
        form {
            max-width: 600px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>

<body>
    <form action='/posts/create/{{trip.id}}' method='post' enctype="multipart/form-data">
        <label for="photo">
            Photo:
            <input type="file" name="photo" id="photoInput" onchange="previewImage()" accept="image/*, video/*" required>
            <img id="photoPreview" src="#" alt="Preview" style="display:none; max-width: 300px; max-height: 200px;">
        </label><br>
        <label>
            Ubicacion:
            <div id='geocoder' class='geocoder'></div>
            <input type="hidden" name="location" id="location" value="">
        </label><br>
        <input type="submit">
    </form>

    <script>
        mapboxgl.accessToken = '{{mapBoxApiKey}}';

        var geocoder = new MapboxGeocoder({
            accessToken: '{{mapBoxApiKey}}',
            mapboxgl: mapboxgl
        });

        geocoder.addTo('#geocoder');

        geocoder.on('result', function (event) {
            var selectedLocation = event.result.geometry.coordinates;
            document.getElementById('location').value = selectedLocation.join(',') + ',' + event.result.place_name;
        });
    </script>

    <script>
        function previewImage() {
            var input = document.getElementById('photoInput');
            var preview = document.getElementById('photoPreview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }

                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '#';
                preview.style.display = 'none';
            }
        }
    </script>

</body>