{{!-- {{#each post}}
<div>
    <p>Nombre de usuario: {{user.username}}</p>
    <p>Ubicación: {{location.name}}</p>
    <img src="{{photo}}" alt="imagen-de-publicacion" style="width: 50px; border-radius: 50px">
</div>
{{/each}} --}}
