<!DOCTYPE html>
<html>

<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <script
        src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
        href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css'
        type='text/css' />
</head>

<body>

    <form action='/posts/create' method='post' enctype="multipart/form-data">
        <label for="photo">
            Photo:
            <input type="file" name="photo" value={{user.photo}}>
        </label>
        <label>
            Ubicacion:
            <div id='geocoder' class='geocoder'></div>
            <input type="hidden" name="location" id="location" value="">
        </label>
        <input type="submit">
    </form>

    <script>
        mapboxgl.accessToken = '{{mapBoxApiKey}}';

        var geocoder = new MapboxGeocoder({
            accessToken: '{{mapBoxApiKey}}',
            mapboxgl: mapboxgl
        });

        geocoder.addTo('#geocoder');

        geocoder.on('result', function (event) {
            var selectedLocation = event.result.geometry.coordinates;
            document.getElementById('location').value = selectedLocation.join(',') + ',' + event.result.place_name;
        });
    </script>

</body>

</html>