<body>

    <form action='/trip/create' method='post'>
        <label for="nameTrip">
            Nombre del viaje:
            <input type="text" name="nameTrip" placeholder="nameTrip">
        </label>
        <input type="submit">
    </form>

</body>