<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form {
            max-width: 400px;
            margin: 50px auto;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input,
        button {
            margin-top: 5px;
        }

        #imagePreviewContainer {
            margin-top: 10px;
        }

        #imagePreview {
            max-width: 100%;
            height: auto;
            border: 1px solid #ccc;
            display: none;
        }

        #effectButtons {
            margin-top: 10px;
        }

        button {
            margin-right: 10px;
        }
    </style>
</head>
<body>

<form action="/user/update?_method=PUT" method="POST" enctype="multipart/form-data">
    <label for="username">
        Username:
        <input type="text" name="username" placeholder="Username" value={{user.username}}>
    </label>
    <label for="email">
        Email:
        <input type="email" name="email" placeholder="Email" value={{user.email}}>
    </label>
    <label for="photo">
        Photo:
        <input type="file" name="photo" onchange="previewImage()" value={{user.photo}}>
        <div id="imagePreviewContainer">
            <img id="imagePreview" alt="Image Preview">
        </div>
    </label>
    <input type="submit">
</form>

<script>
    function previewImage() {
        const input = document.querySelector('input[type="file"]');
        const preview = document.getElementById('imagePreview');
        const container = document.getElementById('imagePreviewContainer');

        const file = input.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                container.style.display = 'block';
                preview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        } else {
            container.style.display = 'none';
            preview.style.display = 'none';
        }
    }
</script>

</body>

