<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form {
            max-width: 600px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #imagePreviewContainer {
            margin-top: 10px;
        }

        #imagePreview {
            max-width: 100%;
            height: auto;
            border: 1px solid #ccc;
            display: none;
        }

        #deleteButton{
            background-color: #ff1919;
            color: #ffffff;
            padding: 5px;
            border: 1px black solid;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<form action="/user/update?_method=PUT" method="POST" enctype="multipart/form-data">
    <label for="username">
        Username:
        <input type="text" name="username" placeholder="Username" value={{user.username}}>
    </label>
    <label for="email">
        Email:
        <input type="email" name="email" placeholder="Email" value={{user.email}}>
    </label>
    <label for="photo">
        Photo:
        <input type="file" name="photo" onchange="previewImage()" value={{user.photo}}>
        <div id="imagePreviewContainer">
            <img id="imagePreview" alt="Image Preview">
        </div>
    </label>
    <input type="submit">
</form>

<form id="deleteForm" action="/user/delete?_method=DELETE" method="POST">
    <button type="button" id="deleteButton">Eliminar Usuario</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var deleteButton = document.getElementById('deleteButton');
        var deleteForm = document.getElementById('deleteForm');

        if (deleteButton && deleteForm) {
            deleteButton.addEventListener('click', function() {
            if (confirm('¿Estás seguro de que quieres eliminar tu cuenta?')) {
                deleteForm.submit();
            }
            });
        }
    });

    function previewImage() {
        const input = document.querySelector('input[type="file"]');
        const preview = document.getElementById('imagePreview');
        const container = document.getElementById('imagePreviewContainer');

        const file = input.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                container.style.display = 'block';
                preview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        } else {
            container.style.display = 'none';
            preview.style.display = 'none';
        }
    }
</script>

</body>

